<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.startea.team.model">
 
 	<select id="selectAll" resultType="CategoryVO">
 	
 	SELECT * FROM tbl_category
 	
 	</select>
 	
 	<select id="category1" resultType="CategoryVO">
 	
 	SELECT * FROM tbl_category
 	WHERE SUBSTR(menu_kinds,0,1)=#{menu_kinds};
 	
 	</select>
 	<select id="findById"></select>
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 </mapper> 
