<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom</title>
  </head>
  <body>
    <form>
      <fieldset>
        <label for="category1">음료 종류</label>
        <select id="category1">
          <option value="base1">아이스</option>
          <option value="base2">핫</option>
        </select>
        <label
          >퍼스널옵션<textarea id="fusnull" cols="40" rows="4"></textarea>
        </label>
      </fieldset>
    </form>
  </body>
</html>
