<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STARBUCKS CUSTOM</title>
    <style>

    </style>
  </head>
  <body>
    <body>
      <header id="main_header">
        <!-- 메인화면의 윗부분 -->
        <h1>STARBUCKS</h1>
        <!-- nav가 들어감 -->
      </header>
      <section id="main_section">
        <!-- 전체적인 컨텐츠를 담을 메인 -->
      </section>
      <footer id="main_footer">
        <!-- 사이트맵과저작권의내용이 들어감 -->
      </footer>
    </body>
  </body>
</html>
