<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StarTea</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      header {
        border: 1px solid red;
        height: 100px;
        background-color: green;
      }
      section {
        border: 2px solid blue;
        height: 100vh;
      }
      footer {
        border: 2px solid green;
      }
      h1 {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <header>
      <!-- 메인화면의 윗부분 -->
      <h1>StarTEA</h1>
      <!-- nav가 들어감 -->
    </header>
    <section>
      <!-- 전체적인 컨텐츠를 담을 메인 -->
    </section>
    <footer>
      <!-- 사이트맵과저작권의내용이 들어감 -->
    </footer>
  </body>
</html>
