<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.team.starbucks.dao.ext.CustomDao">
 
 	<select id="selectAll" resultType="CustomDTO">
 	SELECT * FROM tbl_custom
 	</select>
 	<select id="findById" resultType="CustomDTO">
 	SELECT menu_seq FROM tbl_custom
 	WHERE menu_seq = #{menu_seq}
 	</select>
 	<insert id="insert">
 	
 	
 	</insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 	
	<update id="create_table">
	
	
	</update>

 </mapper> 