<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.team.starbucks.dao.ext.FileDao">
 
 	<select id="selectAll">
 	SELECT * FROM tbl_file
 	</select>
 	
 	<select id="findById">
 	SELECT * FROM tbl_file
 	WHERE file_seq = #{file_seq}
 	</select>
 	
 	<insert id="insert">
 	INSERT INTO tbl_file(file_gseq, file_origial, file_upname)
 	VALUES (#{file_gseq}, #{file_origial}, #{file_upname} )
 	</insert>
 	
 	<update id="update">
 	
 	
 	</update>
 	
 	<insert id="insertORUpdate">
 	INSERT INTO tbl_file(file_seq,file_gseq, file_origial, file_upname)
 	VALUES (#{file_seq},#{file_gseq}, #{file_origial}, #{file_upname} )
 	ON DUPLICATE KEY UPDATE
 		file_gseq = #{file_gseq}
 		file_original =#{file_original}
 		file_upname = #{file_upname}
 	</insert>
 	
 	<delete id="delete">
 	DELETE FROM tbl_file 
 	WHERE file_seq = #{file_seq}
 	</delete>
 	
 	<update id="create_table">
 	CREATE TABLE IF NOT EXISTS tbl_file(
	 	file_seq	BIGINT	AUTO_INCREMENT	PRIMARY KEY,
		file_gseq	BIGINT	NOT NULL	,
		file_original	VARCHAR(125)	NOT NULL	,
		file_upname	VARCHAR(125)	NOT NULL	
 	)
 	</update>
 
 </mapper> 