<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.team.starbucks.dao.ext.LikeDao">
 <sql id = "likesql">
  	SELECT 0 FROM tbl_Like 
 	WHERE custom_seq = #{custom_seq} AND user_id = #{user_id} 
 </sql>
 	<select id="selectAll"></select>

 	<select id="NoLike">
		<include refid="likesql">
			<property name="custom_seq" value="#{custom_seq}"/>
			<property name="user_id" value="#{user_id}"/>
		</include>
 	</select>
 	<select id="Like">
		<include refid="likesql">
			<property name="custom_seq" value="#{custom_seq}"/>
			<property name="user_id" value="#{user_id}"/>
		</include>
 	</select>
 	<update id="likeCount">
 		update tbl_like SET like_count = like_count+1
 		WHERE custom_seq = #{custom_seq}
 	</update>
 	<select id="findById"></select>
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 	<update id="create_table">
 	CREATE TABLE IF NOT EXISTS tbl_like(
	user_id INT PRIMARY KEY,
	like_seq INT,
 	custom_seq INT,
 	like_count BIGINT
 	)
 	</update>
 </mapper>