<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.callor.score.dao.ext.ScoreDao">

	<select id="scoreCount" resultType="Integer">
		SELECT COUNT(*) 
		FROM tbl_score
		WHERE sc_stnum = #{sc_stnum}
	</select>	
	<select id="scoreSum" resultType="Integer">
		SELECT Sum(sc_score) 
		FROM tbl_score
		WHERE sc_stnum = #{sc_stnum}
	</select>	
	
	<select id="selectAll" resultType="ScoreVO">
		SELECT * 
		FROM tbl_score
	</select>
	
	<select id="findById" resultType="ScoreVO">
		SELECT * 
		FROM tbl_score WHERE
		sc_stnum = #{sc_stnum}
	</select>
	
	<select id="selectViewAll" resultType="ScoreDTO">
		SELECT sc_seq,
		sc_stnum,
		ST.st_name sc_stname,
		sc_sbcode,
		SB.sb_name sc_sbname,
		sc_score
		FROM tbl_score SC
		LEFT JOIN tbl_student ST
		ON SC.sc_stnum = ST.st_num
		LEFT
		JOIN tbl_subject SB
		ON SC.sc_sbcode =
		SB.sb_code
		ORDER BY sc_stnum,
		sc_sbcode
	</select>

	<update id="update" parameterType="ScoreVO">
		UDPATE tbl_Score SET sc_stnum
		= #{sc_stnum}
		sc_stnum = #{sc_stnum},
		sc_sbcode = #{sc_sbcode},
		sc_score
		= #{sc_score}
		WHERE sc_seq =#{sc_seq}
	</update>

	<delete id="delete">
		DELETE FROM tbl_Score WHERE sc_seq = #{sc_seq}
	</delete>
	
	<select id="selectSubjcetAndScore"
		resultType="SubjectAndScoreDTO">
		SELECT SB.sb_code AS ss_code,
		SB.sb_name AS ss_stname,
		SB.sb_prof AS ss_prof,
		SC.sc_stnum AS ss_scode,
		SC.sc_score AS ss_score
		FROM
		tbl_subject SB
		LEFT JOIN tbl_score SC
		ON SC.sc_sbcode = SB.sb_code
		AND
		SC.sc_stnum = ${st_num}
	</select>
	
	<insert id="insert" parameterType="ScoreVO">
		INSERT INTO tbl_Score(
		sc_stnum, sc_sbcode, sc_score
		)
		VALUES(
		#{sc_stnum},#{sc_sbcode},#{sc_score}
		)
	</insert>

	<insert id="insertOrUpdate">
		INSERT INTO tbl_score(sc_stnum, sc_sbcode, sc_score)
					VALUES(#{st_num},#{sc_sbcode},#{sc_score})
		ON DUPLICATE KEY UPDATE 
		sc_score = #{sc_score}
	</insert>	
</mapper>