<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.callor.score.dao.SubjectDao">

	<select id="selectAll" resultType="SubjectVO">

		SELECT * FROM tbl_Subject

	</select>
	<select id="findById" resultType="SubjectVo">

		SELECT * FROM tbl_Subject WHERE
		sb_code = #{sb_code}

	</select>
	<update id="update" parameterType="SubjectVO">
		UDPATE tbl_Subject SET sb_code
		= #{sb_code}
		sb_name = #{sb_name},
		sb_prof = #{sb_prof},

	</update>


	<delete id="delete">
		DELETE FROM tbl_Subject WHERE sb_code = #{sb_code}
	</delete>

	<insert id="insert" parameterType="SubjectVO">
		INSERT INTO tbl_Subject(
		sb_code, sb_name, sb_prof
		)
		VALUES(
		#{sb_code},#{sb_name},#{sb_prof},
		)
	</insert>
</mapper>